<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:http="http://www.springframework.org/schema/integration/http"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/integration 
        http://www.springframework.org/schema/integration/spring-integration-2.0.xsd 
	    http://www.springframework.org/schema/integration/http 
	    http://www.springframework.org/schema/integration/http/spring-integration-http-2.1.xsd">

	<!-- 让Spring通过自动扫描来查询和管理Bean -->
	<context:component-scan base-package="com.stu.controller" />
	
	<!-- 以下为SpringMVC配置 -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean	class="com.stu.util.UTF8StringHttpMessageConverter" />
			<bean	class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/modules/" />
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- spring  上传文件配置  版本不对    这是3.1.1-release-->
<!-- 	<bean id="multipartResolver" -->
<!-- 		class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> -->
<!-- 		<property name="maxUploadSize" value="30720000" /> -->
<!-- 		<property name="maxInMemorySize" value="4096" /> -->
<!-- 	</bean> -->

	<!-- 国际化配置 -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>/res/messages</value>
				<value>/res/common-ex-messages</value>
			</list>
		</property>
		<property name="useCodeAsDefaultMessage" value="true" />
	</bean>

</beans>