<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:http="http://www.springframework.org/schema/integration/http"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/integration 
        http://www.springframework.org/schema/integration/spring-integration-2.0.xsd 
	    http://www.springframework.org/schema/integration/http 
	    http://www.springframework.org/schema/integration/http/spring-integration-http-2.1.xsd">

	<!-- 开启注解配置,使Spring关注Annotation -->
	<context:annotation-config />
	
	<!-- 加载配置文件,用于读取配置文件的配置 -->
	<context:property-placeholder location="classpath:conf/config.properties"/>
	
	<import resource="classpath:xmlConfig/hibernate.xml" />
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<!-- 扫描service自动注入为bean -->
	<context:component-scan base-package="com.stu.dao,com.stu.service.impl" />
	
	<!-- 以下为SpringMVC配置 -->
	<import resource="classpath:xmlConfig/spring-mvc-context.xml" />

</beans>