<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>mil-web</display-name>
	
	<context-param>
		<param-name>productionMode</param-name>
		<param-value>falae</param-value>
	</context-param>
	
	
	<!-- 加载spring配置文件 -->
	<context-param>
		<param-name>parameterConfigLocation</param-name>
		<param-value>/conf/main.properties</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
<!-- 		<param-value>classpath:spring-application-context.xml</param-value> -->
		<param-value>classpath:xmlConfig/spring-context.xml</param-value>
	</context-param>


 <!-- 加载log4j配置文件 -->
 
<!-- 监听servletContext，启动contextConfigLocation中的spring配置信息 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 防止spring内存溢出监听器 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
    <welcome-file-list>
        <welcome-file>module/index.jsp</welcome-file>
    </welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/module/error.jsp</location>
	</error-page>
</web-app>
